// styles.scss
$primary-color: #e3e3e3;
@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

$color-gray-soft: #8E8E8E;
$color-label: #464646;

$font-size-extra-small: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$line-height-medium: 20px;


body {
  background-color: $primary-color;
  font-family: Arial, sans-serif;
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 480px;

  @media screen and (max-width: 768px) {
    width: 300px;
  }

  &__legend {
    color: $color-label;
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    font-weight: 500;
  }

  &__hint {
    margin: 4px 0;
    color: $color-gray-soft;
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }

  &__error {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }

  &__input {
    height: 40px;
    min-height: 32px;
    border-width: 1px;
    border: 1px solid #616161;
    padding: 8px 12px;
    border-radius: 8px;

    &:focus {
      border-color: #006EFF;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;

    > div {
      display: flex;
      gap: 4px;
    }
  }

  &__list {
    height: 344px;
    padding: 10px;
    background-color: white;
    overflow: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 12px 16px -4px #10182814;
    border: 1px solid $color-gray-soft;

    @media screen and (max-width: 768px) {
      width: 300px;
    }

    .highlight {
      color: #0092FF;
    }

    .focused {
      background-color: #E1F2FF;
      outline: none !important;
    }
  }

  &__item {
    display: flex;
    font-weight: bold;
    border-radius: 8px;

    &.favorite {
      position: relative;

      &:before {
        content: "â­";
        position: absolute;
        right: 10px;
        top: 0;

        margin: auto;
        display: flex;
        align-items: center;
      }
    }

    > a {
      padding: 10px;
      flex: 1;
      gap: 10px;
      display: flex;
      overflow: hidden;
    }

    &:not(.focused) {
      .search-section__img, .search-section__tags {
        display: none;
      }

      &:hover {
        background-color: #D2D2D2;
      }
    }
  }

  &__img {
    height: 80px;
    width: 56px;
    border-radius: 4px;
  }

  &__title {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    color: $color-label;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      font-size: $font-size-small;
    }
  }

  &__year {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    color: $color-gray-soft;
    font-weight: 400;

    @media screen and (max-width: 768px) {
      font-size: $font-size-small;
    }
  }

  &__tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow: auto;
  }

  &__tag {
    padding: 2px 8px;
    background-color: #E8E8E8;
    border: 1px solid #D2D2D2;
    color: #333333;
    border-radius: 20px;
    font-size: $font-size-small;
    line-height: 16px;
    font-weight: 500;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
      font-size: $font-size-extra-small;
    }
  }
}