// styles.scss
$primary-color: #3498db;

body {
  background-color: $primary-color;
  font-family: Arial, sans-serif;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;

  &__legend {

  }

  &__input {
    width: 480px;
    height: 40px;
    min-height: 32px;
    border-width: 1px;
    border: 1px solid #616161;
    padding: 8px 12px;
  }

  &__results-list {

    width: 480px;
    height: 344px;
    padding: 10px;
    background-color: white;
    overflow: auto;
    list-style: none;

    &__item {
      font-weight: bold;
      padding: 10px;

      &:not(.focused) {

        img {
          // display: none !important;
        }
        .genres-container {
          display: none;
        }
      }
    }

    // search-section__result-list__item
    // search-section__results-list__item

    .highlight {
      color: #0092FF;

    }

    .focused {
      background-color: #E1F2FF;
    }
  }

  .genres-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;

  }

  .genre-tag {
    padding: 2px 8px;
    background-color: #E8E8E8;
    border: 1px solid #D2D2D2;
    color: #333333;
    border-radius: 20px;
  }
}